@charset "UTF-8";
.main1{
	height:400px;
	width: 350px;
	background-color: #F2F2F2;
	    margin-left: auto;
    margin-right: auto;
	
}
.main1 h3{
	text-align: center;
}
.ti{
	margin-left:5px;
	margin-bottom:5px;
	text-align: center;
}
.int{
	margin-bottom:5px;
	    margin-left: auto;
    margin-right: auto;
	height: 19px;
	width: 175px;
}
.btn1{
	    margin-left: auto;
    margin-right: auto;
	margin-top:15px;
	width: 80px;
	height: 65px;
}
.main1 table{
	margin-left: 19px;
}